@import "./variables/globals";
@import "./reset";
@import "./themes/dark";
@import "./themes/light";

.app {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-M);
  line-height: var(--font-line-height-M);

  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-color);
}
