@import "./variables/globals";
@import "./reset";
@import "./mixins";
@import "./themes/dark";
@import "./themes/light";

body {
    font-family: var(--font-family-primary);
    font-size: var(--base-font-size);
    line-height: var(--font-line-height-m);
}

.app {
    background-color: var(--background-color);
    color: var(--primary-color);
    min-height: 100vh;
}
