.LoginForm {
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.LoginForm__button {
    margin-top: 1rem;
}

.LoginForm__error {
    margin-top: var(--content-padding);
    color: var(--error-color);
}
