@use "app/styles/mixins.scss" as *;

.aside {
    @include card;

    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease-in-out;

    &.collapsed {
        grid-column: 1 / 4;
    }
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--content-padding);
    margin-top: auto;
}

.sidebar-toggle {
    width: 100%;
}
