// https://colorhunt.co/palette/041c3204293a064663ecb365 palette

.app_dark_theme {
    --background-color: #041c32;
    --background-color-inverted: #04293a;
    --primary-color: #ecb365;
    --secondary-color: #064663;
}
