// https://colorhunt.co/palette/fcf8ecd0e8f279a3b1456268 palette

.app_light_theme {
    --background-color: #d0e8f2;
    --background-color-inverted: #fcf8ec;
    --primary-color: #456268;
    --secondary-color: #e4ebef;
}
