.nav {
    display: flex;
    flex-direction: column;
    gap: calc(var(--content-padding) / 2);
}

.nav-link-text {
    transition: opacity 0.2s ease-in-out;
}

.nav-link-text--collapsed {
    opacity: 0;
    width: 0;
}
