@use "app/styles/mixins.scss" as *;

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    @include card;
}

.controls {
    display: flex;
    align-items: center;
    gap: var(--content-padding);
}
